<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <form method="post">
        <p>
        </p>
        <p>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                        {% for message in messages %}

                                <div style="color:red;">
                                        <p>{{ message }} </p>
                                </div>
                        {% endfor %}
                {% endif %}
                {% endwith %}
                {{ form.hidden_tag() }}
        <p>
                {{ form.age.label}}
                {{ form.age()}}
        </p>
                {{ form.name.label}}
                {{ form.name() }}
        <p>
                {{ form.profession.label}}
                {{ form.profession() }}
        </p>
        <p>
                {{ form.submit() }}
        </p>
</form>

</head>
<body>

</body>
</html>