{% extends 'reduced_base.html' %}

    {% block content %}


    <body>
    <div style = "padding-left:80px; padding-top: 30px;">
            <h1>Welcome {{user.name}}</h1>
            <hr>

            {% if user.about_me %}
                <p>
                    {{ user.about_me }}
                </p>
            {% endif %}
            {% if user.last_seen %}
                <p>
                    {{ user.last_seen }}
                </p>
            {% endif %}

            <p>Please see the posts below : </p>

                {% for post in posts %}
                    <p>{{ post.timestamp }} &nbsp; {{ post.request.name }}  &nbsp; <b>{{ post.body }}</b></p>
                {% endfor %}
            </hr>
                <form method="post">
                  <div class="form-group">
                    {{ form.hidden_tag() }}
                    {{ form.body(class="form-control", placeholder="Comment") }}
                  </div>
                    {{ form.submit(class="btn btn-block login-btn mb-4" ) }}
                </form>

    </div>

    </body>

    {% endblock %}
