{% extends 'base.html' %}

    {% block content %}


    <body>
    <div style = "padding-left:80px; padding-top: 30px;">
            <h1>Welcome {{user.name}}</h1>
            <hr>

            {% if user.about_me %}
                <p>
                        hello
                    {{ user.about_me }}
                </p>
            {% endif %}
            {% if user.last_seen %}
                <p>
                    {{ user.last_seen }}
                </p>
            {% endif %}

            <p>Please see your posts below : </p>

                {% for post in user.posts %}
                    <p>{{ post.timestamp }} <b>{{ post.body }}</b></p>
                {% endfor %}
            </hr>

    </div>

    </body>

    {% endblock %}
